@import url('https://fonts.googleapis.com/css?family=Inconsolata') 400,200,300,700,500);

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'work Sans', sans-serif;
    
}
.homepage {
    background: url("http://www.geocities.jp/daisukestar/initiald/image/d191.jpg") no-repeat center center fixed;
body {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
